<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>Web Scraping API</title>
  <!-- CSS only -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

  <!-- JS, Popper.js, and jQuery -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

</head>

<body>
 <div>
  <!-- Image and text -->
  <nav class="navbar navbar-dark bg-primary" style="background-color: #e3f2fd;">
    <a class="navbar-brand" href="{{ url_for('index')}}">
    <img src="../static/logo.png" width="50" height="50" class="d-inline-block align-top" alt="">
      Go Back to Home Page
    </a>
    <a class="navbar-brand" href="{{ url_for('read_me')}}">
      Read Me
    </a>
  </nav>
     <div class="jumbotron jumbotron-fluid">
       <div class="header">Basic Documentation: </div>
       <h4>Web Review Scraper</h4>
       <br>
       <div class = "container">
           This is a web scraper tool built to scrape reviews from Flipkart website. This tool can be /
           used to scrape reviews for generic products (Ex: laptops, Mobile Phones, Smartphones etc.) or/
           for specific products (Ex: iPhone 11, Samsung S51, Dell insperion N5115 etc.).
           <br>
           <img src="../static/Step_1.png" width="500" height="300" alt="">
       </div>
       <br>
       <div class = "container">
           This tool picks the entered string in the text box and performs search in the Flipkart website./
           It picks the top few products from the result page and scrapes through to get few top reviews /
           from each of the listed products.
           <br>
           <img src="../static/Step_2.png" width="500" height="300" alt="">
           <img src="../static/Step_3.png" width="500" height="300" alt="">
       </div>
       <br>
       <div class = "container">
           Finally the reviews are displayed as shown below.
           <br>
           <img src="../static/Results.png" width="500" height="300" alt="">
       </div>
    </div>
 </div>
</body>
</html>
